<div class="loader" ng-show="showRecommendationsLoader"></div>

<div class="wrapper col-lg-12 col-md-12" id="pref">

	<h1>Găsește parfumuri noi pornind de la preferințe</h1>

	<p class="error test-desc" ng-show="serverError.length > 0">{{serverError}}</p>
	
	<div ng-hide="hideGenderBtns">
		<p class="test-desc">Parfumul este:</p>
		<div class="gender-buttons">
			<button class="btn default" ng-repeat="button in prefButtons" ng-click="selectGender(button)" ng-class="{'active': selected === button, 'btn-slide': showDropDown == true}">{{button.name}}</button>
		</div>
	</div>
	
	<div class="choices-wrapper" ng-show="showDropDown">
		<p class="test-desc">Caută parfumurile care-ți plac (maximum 4):</p>
		<selectize config='selectizeConfig' options='selectizeOptions' ng-model="selectizeModel"></selectize>
		
		<div class="loader-small" ng-show="showSelectizeLoader"></div>
		
		<p class="error test-desc" ng-show="showNotMatchError">Nu am găsit niciun parfum cu acest nume.</p>
		<p class="error test-desc" ng-show="showNoSelectionError">Pentru a putea să-ți recomandăm parfumuri, trebuie să ne spui măcar o preferință.</p>
		<button class="recommendations-button btn special" ng-click="requestRecommendations()">Arată-mi recomandările</button>
	</div>
	
	<section class="search-results" ng-show="showSearchResultsWrapper">
		
		<div class="searched-items-wrapper">
			<p class="test-desc">Pornind de la preferințele tale:</p>
			<div class="perfume-box" ng-repeat="item in basedOnSearch" ng-click="toggleModal(item)">
				<p class="title">{{item.name}}</p>
				<p class="uppercase subtitle">{{item.brand}}</p>
				<div class="description">
					<span ng-repeat="(key, value) in item.dominantClasses" ng-if="$index < 3">
						<span class="lowercase">{{scents[key].label}}</span>
						<div class="fill">
							<span ng-style="{'width': value + '%'}"></span>
						</div>
					</span>
					<img ng-src="{{getPhotoUrl(item)}}" />
				</div>
				<button class="btn special" >Detalii și prețuri</button>
			</div>
		</div>
		<div class="clear"></div>
		
		<div class="recommendations-wrapper">
			<p class="test-desc" ng-hide="showNoResultsStatus">Îți recomandăm parfumurile:</p>
			<div class="perfume-box" ng-repeat="recom in recommendationsList | limitTo: showMoreRecommmendationsBtn ? 4 : 8" ng-click="toggleModal(recom)">
				<p class="title">{{recom.name | limitTo: 20}}</p>
				<p class="uppercase subtitle">{{recom.brand}}</p>
				<div class="description">
					<span ng-repeat="(key, value) in recom.dominantClasses" ng-if="$index < 3">
						<span class="lowercase">{{scents[key].label}}</span>
						<div class="fill">
							<span ng-style="{'width': value + '%'}"></span>
						</div>
					</span>
					<img ng-src="{{getPhotoUrl(recom)}}" />
				</div>
				<button class="btn special" >Detalii și prețuri</button>
			</div>
		</div>
		<div class="clear"></div>
		
		<button class="btn special" ng-click="loadMoreRecommendations()" ng-show="showMoreRecommmendationsBtn">Mai multe recomandări</button>
		
		<div class="reset-buttons" ng-hide="showMoreRecommmendationsBtn" ng-show="showResetBtns">
			<p class="test-desc error" ng-show="showNoResultsStatus">Nu am găsit niciun rezultat</p>
			<button class="btn special" ng-click="resetSelectize()">Repetă căutarea</button>
			<a class="btn-link" ng-href="#/quiz">Fă un test pentru mai multe recomandări</a>
		</div>
		<div ng-show="recommendationsList.length > 0" class="copy-uri">
			<input type="text" id="shareUriInput" ng-model="shareUri" select-on-click />
			<button class="btn special" ngclipboard data-clipboard-target="#shareUriInput" ng-class="{'copied':isCopied}" ng-click="isCopied= !isCopied">
				<span ng-if="!isCopied">copiază linkul</span>
				<span ng-if="isCopied">copiat<i class="fa fa-check"></i></span>
			</button>
		</div>
		<p ng-show="recommendationsList.length > 0" class="share-on-fb">Arată prietenilor tăi parfumurile descoperite! <share uri="shareUri"/></p>
		<div class="clear"></div>
	</section>
</div>
		
<modal visible="showModal" model="modalContent"></modal>


